@keyframes fadeIn {

    0% {
        background-image: url('../images/gallery/1.jpg');
    }

    25% {
        background-image: url('../images/gallery/2.jpg');
    }

    50% {
        background-image: url('../images/gallery/3.jpg');
    }

    75% {
        background-image: url('../images/gallery/4.jpg');
    }

    100% {
        background-image: url('../images/gallery/5.jpg');
    }

}